.option_body {
    width: 250px;
    height: 400px;
    font-family: Consolas;
}

.option_body .option_content {
    width: 98%;
    height: 88%;
    background-color: #7AC5CD;
    font-size: 1.5em;
}

.options_content_radio, .options_time_radio {
    height: 30px;
}

.clear_content {
    padding-left: 15%;
    padding-top: 10%;
    height: 20%;
}

.clear_content > span {
    height: 30px;
    display: block;
}

.clear_content_radio {
    margin-left: 20%;
}

.clear_time {
    padding-left: 15%;
    margin-top: 10%;
    height: 30%;
}

.clear_time > span {
    height: 30px;
    display: block;
}

.clear_time_radio {
    margin-left: 20%;
}

.option_refresh {
    padding-left: 15%;
    margin-top: 20%;
}

.option_foot {
    height: 10%;
    position: absolute;
    bottom: 5px;
}

.option_float {
    float: left;
    text-align: center;
    display: block;
    width: 81px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background: #66CDAA;
    margin-left: 2px;
}